<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<style>
        
    </style>
</head>
<body>
	<h1>Hai</h1>
	<form action="/" method="POST">
		<input type="text" list="Suggestions" name="name" id="dd" multiple="multiple">
		<input type="submit" name="submit" value="Search">
		<datalist style="font-style: italic;" id="Suggestions">
			{% for s in symp %}
  			<option>{{s[0]}}<p>,</p></option>
			{% endfor %}
		</datalist>
	</form>

	

	<table border="1">
			{% if ss|length < 1 %}
			<th style="color: red;">{{error}}</th><br>
			{% endif %}
		<tr>
			{% for head in heads %}
			<th>{{head}}</th>
			{% endfor %}
		</tr>

		{% for user in users %}
			<tr>
				<td onload="cnt()"><a href="/demo/{{user[0]}}">{{user[0]}}</a></td>
				<td>{{user[1]}}</td>
				<td>{{cnt[0]}}</td>
			</tr>
		{% endfor %}
	</table>
	
	
</body>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function () {
	// document.getElementsByTagName("input").innerHTML=document.getElementsByTagName("input").value+',';
	// alert(document.getElementsByTagName("input").value+',');
    const separator = ',';
    for (const input of document.getElementsByTagName("input")) {

        if (!input.multiple) {
            continue;
        }
        if (input.list instanceof HTMLDataListElement) {
        	

            const optionsValues = Array.from(input.list.options).map(opt => opt.value);
            let valueCount = input.value.split(separator).length;

            input.addEventListener("input", () => {
            	// coma();

                const currentValueCount = input.value.split(separator).length;
                // Do not update list if the user doesn't add/remove a separator
                // Current value: "a, b, c"; New value: "a, b, cd" => Do not change the list
                // Current value: "a, b, c"; New value: "a, b, c," => Update the list
                // Current value: "a, b, c"; New value: "a, b" => Update the list
                if (valueCount !== currentValueCount) {
                    const lsIndex = input.value.lastIndexOf(separator);
                    const str = lsIndex !== -1 ? input.value.substr(0, lsIndex) + separator : "";
                    filldatalist(input, optionsValues, str);
                    valueCount = currentValueCount;
                }
            });
        }
    }
    function filldatalist(input, optionValues, optionPrefix) {
        const list = input.list;
        if (list && optionValues.length > 0) {
            list.innerHTML = "";
            const usedOptions = optionPrefix.split(separator).map(value => value.trim());
            for (const optionsValue of optionValues) {
                if (usedOptions.indexOf(optionsValue) < 0) {
                    const option = document.createElement("option");
                    option.value = optionPrefix + optionsValue;
                    list.append(option);
                }
            }
        }
    }
});


</script>
</html>