<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>

	<select onchange="check()" id="check">
		<option value="">--Select--</option>
		{% for h in hosp %}
			<option value="{{h[1]}} {{h[2]}}">{{h[0]}}</option>
		{% endfor %}
	</select>

	<!-- <iframe  width="300" height="170" frameborder="0"  allowfullscree marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=16.9769325,82.1911248&hl=es&z=14&output=embed"></iframe> -->
 <div style="width: 100%"><iframe id="ifr" width="50%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=16.9769325,82.1911248&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed"></iframe></div>

 <!-- <iframe src="//maps.google.com/maps?q=<strong>latitude</strong>,<strong>longitude</strong>&z=<strong>zoom</strong>&output=embed"></iframe> -->
</body>
<script type="text/javascript">
	function check(){
		var l=document.getElementById('check').value.split(" ");
		document.getElementById('ifr').src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q="+l[0]+","+l[1]+"&t=&z=14&iwloc=B&output=embed"
	}
</script>
</html>